.wrapper {max-width: 1200px; margin: auto;}
.main-title {font-size: 1.25em; font-weight: bold; padding: 1em; margin: .5em 0;}

form[name="initForm"] {margin-bottom: 2em; border-bottom: 1px solid #dedede; padding-bottom: .5em;}
form[name="initForm"] input[name="cnt"] {font-size: 1.5em; width: 90px; text-align: center;}
form[name="initForm"] button {font-size: 1.25em; padding: .375em .75em; margin-left: .25em;}
form[name="initForm"] .bt-init {}
form[name="initForm"] .bt-start {display: none;}
form[name="initForm"] .bt-reset {display: none;}


.stage-wrap {}
.stage-wrap .member-wp {width: 120px; margin-bottom: 2em;}
.stage-wrap .member-wp .imgs {
	animation-name: ani-member;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform: rotate(-15deg);
	transform-origin: bottom center;
}
@keyframes ani-member {
	from {transform: rotate(-15deg);}
	to {transform: rotate(15deg);}
}
.stage-wrap .member-wp input[name="member"] {margin-top: .5em; text-align: center;}

